<div class="container-fluid mt-5 about-style" id="serviceid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">Our Services</h1>
      <p class="text-center sub-heading">Grow your buisness with us</p>
      <div class="row">
        <div class="col-md-4">
          <div class="box">
            <div class="our-services settings">
              <div class="icon">
                <img src="https://icon-library.com/images/android-settings-icon-png/android-settings-icon-png-21.jpg" style="height: 4rem; width:4rem"
                  alt="" />
              </div>
              <h4>Settings</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, porro.</p>

            </div>


          </div>
        </div>

        <div class="col-md-4">
          <div class="box">
            <div class="our-services speedup">
              <div class="icon">
                <img src="https://www.clipartmax.com/png/middle/146-1469645_neumob-speed-up-icon-png.png" style="height: 4rem; width:4rem"
                  alt="" />
              </div>
              <h4>Speed up</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, porro.</p>

            </div>


          </div>
        </div>

        <div class="col-md-4">
          <div class="box">
            <div class="our-services privacy">
              <div class="icon">
                <img src="https://cdn-icons-png.flaticon.com/512/1177/1177448.png" style="height: 4rem; width:4rem"
                  alt="" />
              </div>
              <h4>Privacy</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, porro.</p>

            </div>


          </div>
        </div>

        <div class="col-md-4">
          <div class="box">
            <div class="our-services backups">
              <div class="icon">
                <img src="https://cdn-icons-png.flaticon.com/512/7594/7594825.png" style="height: 4rem; width:4rem"
                  alt="" />
              </div>
              <h4>Backups</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, porro.</p>

            </div>


          </div>
        </div>

        <div class="col-md-4">
          <div class="box">
            <div class="our-services ssl">
              <div class="icon">
                <img src="https://cdn-icons-png.flaticon.com/512/5742/5742040.png" style="height: 4rem; width:4rem"
                  alt="" />
              </div>
              <h4>SSL</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, porro.</p>

            </div>


          </div>
        </div>

        <div class="col-md-4">
          <div class="box">
            <div class="our-services database">
              <div class="icon">
                <img src="https://d9-wret.s3.us-west-2.amazonaws.com/assets/palladium/production/s3fs-public/media/images/Contribute_Data.png" style="height: 4rem; width:4rem"
                  alt="" />
              </div>
              <h4>Database</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, porro.</p>

            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>